<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obaida's Portfolio</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/home.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <article class="card">
        <div class="icon">
            <i class='bx bxs-briefcase'></i>
        </div>
        <div class="info">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
        </div>
    </article>
    
</body>
</html>
